.App {
  background-color: #a4c5df;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 200px;
  height: 330px;
}

.card-img-top {
  height: 150px;
}

.card-placeholder {
  text-align: center;
  vertical-align: middle;
  height: 150px;
  width: 100%;
}

.card-placeholder img {
  height: 60%;
  width: 70%;
  transform: translateY(30%);
}

.card-footer {
  color: green;
  text-align: end;
}

.nav-link {
  color: white;
  font-weight: bold;
}